<html>


<link rel="stylesheet" href="mainmenutest.css">

<div class="head">

    <p style = "font-family:georgia,garamond,serif;font-style:italic;">
        <u> Oregon Trail</u>
    </p>

    <div class="text-align">
        <h3> Oregon Trail </h3>
        <h4> Main menu</h4>


    </div>
    <div class="text-alignment">


        <p> 1.Travel the trail<br/>
            2.Learn about the trail<br/>
            3.See the Oregon top 10<br/>
            4.Turn Sound (off/on)<br/></p>
        Select an option<br/>
    </div>
    <body style="background-color:#000000;">
    </body>
</div>

</html>