<html>


<link rel="stylesheet" href="mainmenutest.css">

<div class="head">

    <p style = "font-family:georgia,garamond,serif;font-style:italic;">
        <u> Oregon Trail</u>
    </p>

    <div class="text-align">
        <h3> Oregon Trail </h3>
        <h4> Main menu</h4>


    </div>
    <div class="text-alignment">


        <p>
            <a href>1.Travel the trail </a> <br/>
            <a href>2.Learn about the trail</a><br/>


            <a href=topten.html>
                3.See the Oregon top 10</a><br/>




            <a href>4.Turn Sound (off/on)</a><br/></p>
        Select an option<br/>
    </div>
    <body style="background-color:#000000;">
    </body>
</div>

</html>