<html>
<body>
<body style="background-color:#000000;">
<link rel="stylesheet" href="../public/css/setup.css">
<div class="head">
    <p style = "font-family:georgia,garamond,serif;font-style:italic;">
        <u> Oregon Trail</u>
    </p>
    <div class="textlists">

        <ol>
            1. Be a banker from boston<br/>
            2. Be a carpenter from Ohio <br/>
            3. Be a farmer from Illinois<br/>
            4. Find out the differences between the choices <br/>
            What is your choice?
        </ol
    </div>
    <div class="mainmenu">

        Press the space for the main menu.

    </div>



</div>
</body>
</body>


</html>