<html>
<body>
<body style="background-color:#000000;">
<link rel="stylesheet" href="../public/css/trail.css">



<div class="head">
    <p style = "font-family:georgia,garamond,serif;font-style:italic;">
        <u> Oregon Trail</u>
    </p>
</div>

<div class="image">
    <img src="img-placeholder.png" alt="placeholder" class="center">

</div>
</body>



<div class="trailtext">


    <p> <ol>Days on the trail <br/>
    Miles traveled <br/>
    Party health status <br/>
    Current weather <br/>
    Current pace<br/>
    Current Terrain<br/>
    # of party members alive <br/>

    <p> Press ENTER to travel a day or SPACEBAR to change pace! </p>
</ol>
</div>


</body>

</html>