.container {

    position: relative;
    text-align: center;
    color: white;
}
.centered {
    color: tan;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}
.spacebar{
    font-size: 15px;
}

