.text-align {

    position: relative;
    text-align: center;
    color: white;
    line-height: 1.0;
    font-size: 13px;
}

.text-alignment{
    color: white;
    position: relative;
    text-align: center;
    line-height: 3.0;
    font-size: 30px;
}
.head {
    vertical-align: text-top;
    color: lightgoldenrodyellow;
    text-align: center;
    font-size: 120px;


}